## EC Notebook for Lecture 10:  Functions in Python

This extra credit Python notebook will let you practice the material you saw in lecture.  Completing all parts of this notebook will earn +1 extra credit point to your grade in STAT 107! :)

This notebook is worth +1 if turned in before 11:30am on **Friday, Sept. 20** *(30 minutes before the next STAT 107 lecture)*.  You can feel free to complete it anytime for extra practice.

## 1. Importing pandas and reading data
For this extra credit notebook, we will still use the Illinois GPA Distribution dataset -- as we did in lecture -- to do some exercise to get familiar with the function we learnt in the lecture

You feel free to access the "GPA" dataset here: https://github.com/wadefagen/datasets/tree/master/gpa
At first, you need to import the library pandas and reading the dataset.

In [2]:
import pandas as pd 
df = pd.read_csv('gpa.csv')
df

,Year,Term,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
0,2018,Fall,2018-fa,AAS,100,Intro Asian American Studies,2,8,8,7,...,2,1,0,0,0,0,0,0,0,"Thomas, Merin A"
1,2018,Fall,2018-fa,AAS,100,Intro Asian American Studies,0,11,7,4,...,2,0,0,0,0,0,0,2,0,"Lee, Sang S"
2,2018,Fall,2018-fa,AAS,100,Intro Asian American Studies,1,6,7,4,...,2,0,0,0,0,0,0,2,0,"Kang, Yoonjung"
3,2018,Fall,2018-fa,AAS,100,Intro Asian American Studies,3,5,8,8,...,1,0,1,1,1,0,0,0,0,"Thomas, Merin A"
4,2018,Fall,2018-fa,AAS,100,Intro Asian American Studies,0,6,12,2,...,3,0,0,0,0,0,0,1,0,"Lee, Sang S"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46540,2010,Summer,2010-su,STAT,410,Statistics and Probability II,5,10,2,2,...,1,0,1,3,0,0,0,2,1,"Stepanov, Alexei G"
46541,2010,Summer,2010-su,STAT,440,Statistical Data Management,4,12,8,1,...,0,0,0,0,0,0,0,0,0,"Unger, David"
46542,2010,Summer,2010-su,TAM,212,Introductory Dynamics,0,1,3,2,...,7,5,1,1,0,2,0,1,0,"Morgan, William T"
46543,2010,Summer,2010-su,TAM,251,Introductory Solid Mechanics,1,2,2,1,...,0,3,3,2,0,0,1,1,0,"Ott-Monsivais, Stephanie"
46544,2010,Summer,2010-su,TAM,335,Introductory Fluid Mechanics,5,8,9,4,...,1,0,4,0,0,1,0,2,0,"Keane, Richard D"

## 2. Review: Group Function
The Student Union at Illinois would like to investiage the grading policy for the university courses and subjects， especailly for "ACCY", "CS", "MATH", "STAT".

### Question 1: 
Using the GPA dataset, you need to calculate the proportion of ("A+","A") in ("A+","A","A-","B+","B","B-") for subjects "ACCY", "CS", "MATH", "STAT", respectively. Hint: use the groupby function.

In [3]:
df_s = df[ (df['Subject'] == 'ACCY') | (df['Subject'] == 'CS') | (df['Subject'] == 'MATH') | (df['Subject'] == 'STAT') ]
group = df_s.groupby('Subject')
df_group = group.agg("sum").reset_index()
ratio = (df_group['A+'] + df_group['A']) / (df_group['A+'] + df_group['A'] + df_group['A-'] + df_group['B+'] + df_group['B'] + df_group['B-']) 
print(ratio[1])

0.4851959027145017

In [4]:
## == TEST CASES for Question 1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(ratio[1] == 0.4851959027145017), "The ratio for the ACCY does not appear correct."

## 3. Review: Group Function
Besides the raito of ("A+","A") in ("A+","A","A-","B+","B","B-"), the student union also wants to know the difference between the largest number of "A+" and the largest number of "A" in each subject, and what is the largest gap among all subjects. 

### Question 2: 
Using the GPA dataset, you need to find the difference between the largest number of "A+" and the largest number of"A" for each subject firstly, and then based on what you have, to calculate the largest gap among all subjects.

In [11]:

group_all = df.groupby('Subject')
df_gMax = group_all.agg("max").reset_index()
df_gMax["Max Diff"] = df_gMax['A+'] - df_gMax['A']
df_gMax["Max Abs Diff"] = df_gMax['Max Diff'].abs()
gap_largest = df_gMax["Max Abs Diff"].max()
print(gap_largest)

481

In [6]:
## == TEST CASES for Question 1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(gap_largest == 481), "The number does not appear correct."

## 4. Review: Group Function
In addition, the student union also wants to know hom many subjects which the instructors give "A" but not "A+". 


### Question 3: 
Using the GPA dataset, we have defined a function to give the label (column "course_type") for those course which the instructors give "A" but not "A+". For your work, you need to decide how many subjects which the instructors give "A" but not "A+". Hint: The question is asking about each subject not each course, so you also need to use groupby function.

In [17]:
## Just Run the following code. 
def course(x):

   if x["A+"] == 0 and x["A"] > 0 : return 1

   else: return 0
    
df["course_type"] = df.apply(course, axis=1)
## Just Run the above code. 

df_mean = group_all.agg("mean").reset_index()
df_num = df_mean[df_mean['course_type'] == 0]
num = len(df_num)
num

13

In [18]:
## == TEST CASES for Question 1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(num == 13), "The number of this type of course does not appear correct."